/*
 CSS file for the Eoforwic Web site
 
 Heavily modified by Jon Barson 2010
 */@import "reset.css";
@font-face {font-family:
    'Anglo-SaxonCapsRegular';
    src:
    url('../font/saxon-webfont.eot');
    src:
    local('@'), url('../font/saxon-webfont.woff') format('woff'), url('../font/saxon-webfont.ttf') format('truetype'), url('../font/saxon-webfont.svg#webfontQ0o9Boe6') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 10px;
    font-family: Helvetica, Georgia, serif;
    font-size: 12pt;
}
#wrap {
  margin: 0 32px;
}

h1 {
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-family: 'Anglo-SaxonCapsRegular', Georgia, serif;
    text-align: right;
    padding: 0px 150px 0px 0px;
    margin: 10px 10px 10px 10px;
    color: #A00;
    text-shadow: gray 0px 5px 10px;
    font-size: 48px;
    letter-spacing: 3px;
    width: 150px:
}

h2 {
    font-family: 'Anglo-SaxonCapsRegular', Georgia, serif;
    font-weight: bold;
    color: #A00;
    font-size: 24pt;
    text-shadow: gray 0px 5px 10px;
    letter-spacing: 3px;
    margin: 22px 0 22px 0px;
    text-align: right;
}

h3 {
    font-family: 'Anglo-SaxonCapsRegular', Georgia, serif;
    font-weight: bold;
    color: #A00;
    font-size: 16pt;
    text-shadow: gray 0px 5px 10px;
    letter-spacing: 3px;
    text-align: center;
    margin: 22px 0 22px 0px;
}
h4 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    text-shadow: 4px 4px 4px #bbb;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    }

p {
    margin: 16px 0 20px 16px;
}

li {
    list-style-type: none;
}

#masthead {
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("../images/fadearms.jpg");
    background-repeat: no-repeat;
}
#eventannounce  {
    margin:0 auto;
    width: 960px;
    background:#DCDCDC;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#eventannounce h3 {padding: 16px; margin:0; }
#eventannounce li {color:black;}
#eventannounce p {color:red; padding:0; margin:0;}
div#eventannounce span a {
      width: 100%;
      height: 100%;
      position: absolute;
      left:0;
      top:0;
}
                
#header img {
    float: right;
}

#header h1 {
    font-size: 2em;
    margin: 10px 0 0 0;
    padding: 10px;
}

#header h2 {
    text-align: center;
    padding: 0 150px 0 0;
}


h2.firstline {
    padding-top: 16px;
}

#footer {
    clear: both;
    padding-top: 16px;
    border-top: 2px solid #ddd;
    text-align: left;
    font-size: 75%;
    margin: 0 16px 0 16px;
}

#footer p {
    margin: 0;
}

ul#nav {
    margin: 0;
    font-family: Georgia, serif;
    padding: 8px 0 0 0;
    list-style-type: none;
    display: block;
    height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    text-shadow: gray 0px 5px 10px;
    letter-spacing: 2px;
}

ul#nav li {
    float: left;
    display: inline;
    text-align: center;
}

ul#nav li a {
    padding: 8px 20px 0 20px;
}

a:link {
    color: #A00;
    text-decoration: none;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
}

a:visited {
    color: #900;
    text-decoration: none;
}

a:hover {
    color: #999999;
    text-decoration: none;
}


#title {
    margin-right: 50px;
    height: 140px;
}

#sidebar {
    float: right;
    width: 250px;
    margin-left: 8px;
    margin-bottom: 8px;
	background-color: #DCDCDC;
  -moz-border-radius: 15px;
	border-radius: 15px;
}
#sidebar li {
	margin: 0 0 0 16px;
	font-size:smaller;
}

#content {
    
}

#calendar {
    margin-right: 260px;
}

#sidecal {
    float: right;
    width: 400px;
}

.firstline {
    padding: 6px 200px 0px 0px;
}

.firstletter {
    font-size: 125%;
}
.realbig { font-size: 200%;}
.topquote {margin-bottom: 0;}
.secquote {margin-top:0;}

#picHolder {
    width: 226px;
    height: 150px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: -1;
}

#picHolder img {
    display: none
}

#picHolder img.first {
    display: block
}

.center {
    text-align: center;
}

.left {
  text-align: left;
}
.right {text-align: right;}

.rightpic {
    float: right;
    padding: 0 10px 10px 10px;
}

.leftpic {
    float: left;
    padding: 0 10px 10px 10px;
}
.leftfloat {float: left; width: 480px; }
.rightfloat {float: right; width: 480px;}
.clear {clear: both;}
.left3 {float:left; width: 320px;}
.center3 {width: 320px;}
.right3 {float: right; width: 320px;}

span.amp {
    font-family: "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-size: 110%;
    font-style: italic;
}
#eventwrap {
  width: 960px;
  margin: auto;
}
